.content-container {
  width: 60%;
  margin: 0 auto;

  &:not(:last-child) {
    margin-top: 175px;
  }

  @media only screen and (max-width: 720px) {
    width: 80%;
  }

  &__purple-bar {
    background-color: #726aff;
    height: 7px;
    width: 80px;
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 60px;

    @media only screen and (max-width: 450px) {
      margin-bottom: 45px;
    }

    &--top {
      font-size: 45px;
      font-weight: 400;

      @media only screen and (max-width: 450px) {
        font-size: 40px;
      }
    }

    &--bottom {
      color: #726aff;
      font-weight: 800;
      font-size: 50px;

      @media only screen and (max-width: 450px) {
        font-size: 35px;
      }
    }
  }
}

.county {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;

  &__responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: 720px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 10;
    width: 300px;
    max-height: 120px;
    overflow-y: auto;

    :nth-child(odd) {
      background-color: #f0efff;
    }

    :nth-child(even) {
      background-color: #fff;
    }

    &-option {
      color: #726aff;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.btn-submit {
  background-color: #726aff;
  color: #fff;
  padding: 15px 60px;
  margin: 0px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;

  @media only screen and (max-width: 720px) {
    margin: 25px 0 0 0;
    width: 250px;
  }

  &:disabled {
    background-color: #9995e7;
    cursor: not-allowed;
  }
}

.result-details {
  margin: 75px auto;
  color: #726aff;

  @media only screen and (max-width: 450px) {
    margin: 50px auto;
  }

  &__title {
    background-color: #726aff;
    color: #efefef;
    width: 55%;
    padding: 35px 10px 35px 20%;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 720px) {
      padding: 15px 10px 15px 10%;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 0px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    @media only screen and (max-width: 720px) {
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
    }

    div {
      padding: 15px 30px 15px 0px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 0px;

      @media only screen and (max-width: 450px) {
        grid-template-columns: 1fr;
        margin-top: 10px;
      }

      p {
        padding-bottom: 5px;
        border-bottom: 1px solid #726aff;
      }
    }
  }
}

.label-class {
  font-weight: 600;
}

input {
  background-color: #f0efff;
  color: #726aff;
  border: none;
  outline: none;
  width: 300px;
  padding: 15px 20px;
  cursor: default;
  font-weight: 600;
  box-sizing: border-box;

  @media only screen and (max-width: 450px) {
    width: 250px;
    margin: 0 auto;
  }

  &::placeholder {
    color: #726aff;
    opacity: 0.4;
    font-weight: 600;
    padding: 10px 0px;
  }
}
