<div class="content-container">
  <div class="content-container__purple-bar"></div>

  <div class="content-container__title">
    <div class="content-container__title--top">{{ 'appText.question' | translate }}</div>
    <div class="content-container__title--bottom">{{ 'appText.person' | translate }}</div>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">

    <label for="zupanija" class="label-class">{{ 'appText.county' | translate }}</label>
    <div class="county">
      <input type="text" placeholder=" &#xf041;   {{ 'appText.county' | translate }}"
        aria-label="Text" matInput [matAutocomplete]="auto"
        (focus)="countyAutoSelect()" id="zupanija" formControlName="county">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getZupanija($event.option.value)'>
        <mat-option *ngFor="let zupanija of filteredCounties | async | alphabeticalOrder" [value]="zupanija.name">
          {{ zupanija.name }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <label for="gradOpcina" class="label-class">{{ 'appText.town' | translate }}</label>
    <div class="county"> 
      <div class="county__responsive-grid">
        <div>
          <input type="text" placeholder=" &#xf041;   {{ 'appText.town' | translate }}"
            aria-label="Text" matInput [matAutocomplete]="auto2"
            (focus)="townComunityAutoSelect()" id="gradOpcina" formControlName="town">
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="getOpcina($event.option.value)">
            <mat-option *ngFor="let opcina of filteredTown | async | alphabeticalOrder" [value]="opcina.name">
              {{ opcina.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button class="btn-submit" type="submit"
          [disabled]="!validCounty && !validTown">{{ 'appText.details' | translate }}</button>
      </div>
    </div>
  </form>
</div>

<div class="result-details__title">{{ 'appText.detailsFor' | translate }}: {{ entityToDisplay }}</div>

<div class="content-container">
  <div class="result-details">
    <div *ngIf="townGovernor" class="result-details__grid">
      <div><b>{{ 'appText.mayor' | translate }}</b>
        <p>{{ townGovernor.governor | capitalise}}</p>
      </div>
      <div><b>Web</b>
        <p>{{ townGovernor.web | noData }}</p>
      </div>
      <div><b>{{ 'appText.vice' | translate }}</b>
        <p>{{ townGovernor.viceGovernor | capitalise | noData }}</p>
      </div>
      <div><b>Email</b>
        <p>{{ townGovernor.email | noData  | noData}}</p>
      </div>
      <div><b>{{ 'appText.address' | translate }}</b>
        <p>{{ townGovernor.address | capitalise | noData}}</p>
      </div>
      <div><b>{{ 'appText.telephone' | translate }}</b>
        <p><a [href]="'tel:' + townGovernor.phone">{{ townGovernor.phone | prettyNum  | noData}}</a></p>
      </div>
      <div><b>{{ 'appText.zip' | translate }}</b>
        <p>{{ townGovernor.zipCode | noData }}</p>
      </div>
      <div><b>{{ 'appText.fax' | translate }}</b>
        <p>{{ townGovernor.fax | prettyNum | noData }}</p>
      </div>
    </div>

    <div *ngIf="countyGovernor" class="result-details__grid">
      <div><b>{{ 'appText.governor' | translate }}</b>
        <p>{{ countyGovernor.governor | capitalise | noData}}</p>
      </div>
      <div><b>Web</b>
        <p>{{ countyGovernor.web | noData }}</p>
      </div>
      <div><b>{{ 'appText.vice' | translate }}</b>
        <p>{{ countyGovernor.viceGovernor | capitalise | noData }}</p>
      </div>
      <div><b>Email</b>
        <p>{{ countyGovernor.email | noData }}</p>
      </div>
      <div><b>{{ 'appText.address' | translate }}</b>
        <p>{{ countyGovernor.address | capitalise | noData }}</p>
      </div>
      <div><b>{{ 'appText.telephone' | translate }}</b>
        <p><a [href]="'tel:' + countyGovernor.phone">{{ countyGovernor.phone | prettyNum | noData }}</a></p>
      </div>
      <div><b>{{ 'appText.zip' | translate }}</b>
        <p>{{ countyGovernor.zipCode | noData }}</p>
      </div>
      <div><b>{{ 'appText.fax' | translate }}</b>
        <p>{{ countyGovernor.fax | prettyNum | noData }}</p>
      </div>
    </div>
  </div>
</div>
