* {
  font-family: 'Open Sans', sans-serif;
  // font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(225deg, #726aff 30%, #948fff 30%, transparent 30%);
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #726aff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #524adf;; 
}